
<!DOCTYPE html>
<html>
<head>
<title> Home Page </title>
<link rel="stylesheet" href="css/style.css">
</head>
    <body id="home">
        <div>
            <button class="button-33" role="button"> <a href="/jatin/logout"> 
                Log Out</a></button>
        </div>
        <div>
            <br>
            <h1>Email - <%=userdata.user_id%></h1>
       <h1>Portal Id - <%=userdata.portal_id%></h1>
       <h2><a href="/jatin/company">Company and owners</a></h2>
       <br>
        </div>
       
       


</body>
</html>