<!DOCTYPE html>
<html>
<head>
<title> Company Owners </title>
<link rel="stylesheet" href="css/style.css">
</head>
    <body>
      
       <div>
        <button class="button-33" role="button"> <a href="/jatin/logout">Log Out</a></button>
       </div>
        <div class="table-wrapper" >
            <table class="fl-table">
        <br>
        <h1>User Name - <%=user.user_id%></h1>
        <h1>Portal Id - <%=user.portal_id%></h1>
        <thead>
        <tr>
        <th>Company Name</th>
        <th>Oener Name</th>
        
       
        </thead>
        </tr>
        <tbody>
        <%  companies.forEach(function(item){ %>
            <tr>
                <td><%=item.companyname%></td>
                <td><%=item.ownername%></td>
               
                
                </tr>
          <%  }) %>
            </tbody>
            
        </table>
        <br>
        <br>
        <button class="button-33" role="button"><a href="/jatin/company">next</a></button>
    </div>
    
    <br>
    
    
</body>
</html>